/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**** My Styles - Mobile ****/

/*** General ***/

body {
    font-family: 'Oswald', sans-serif;
}

/* style headdings set to inherit color from parent*/
body h1, h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: inherit;
}

/*have articles inherit font color*/
article {
    color: inherit;
}

/*** Header ***/

/*apply and style headder background img*/
.headderbanner {
    background-image: url(../imgs/locks_flare.jpg);
    background-position: 50% 10%;
    background-size: 120%;
}

/*scale down svg*/
.headlogo {
    scale: 0.75;
}

/*Hide desktop stuff*/
.mobile-hid {
    display: none;
}


/** nav **/

/*skiplink hider*/
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*skiplink un-hider*/
.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

/*style hamburger container*/
.hamburger-box {
    background-color: rgba(0,76,143,0.8);
}

/*style hamburger*/
.hamburger-box button {
    border: 1px solid #f2f2f2;
}

/*make hamburger opaque when active*/
.hamburger-box:active {
    background-color: rgba(0,76,143,1);
}

.hamburger-box:hover {
    background-color: rgba(0,76,143,1);
}

div.dropdown-menu {
    background-color: #004C8F;
    padding: 0px;
    margin: 0px;
}

.dropdown-menu a {
    color: #f2f2f2;
    background-color: #004C8F;
    border: 1px solid #f2f2f2;
    opacity: 1;
    padding-top: 1em;
    padding-bottom: 1em;
}

a.current {
    color:#f2f2f2;
    text-decoration: underline;
}


/* even out dropdown borders */
div.dropdown-menu a:nth-child(2) {
    border-top: 0px;
}

/* even out dropdown borders */
div.dropdown-menu a:nth-child(3) {
    border-top: 0px;
    border-bottom: 0px;
}

.dropdown-menu a:hover {
    color: #f2f2f2;
    background-color: #004C8F;
    text-decoration: underline;
}
/*** Main ***/

/** Hero Banner **/

.hero {
    background-image: url(../imgs/sunset_hull.jpg);
    background-position: center;
    background-size: cover;
    margin: 1em;
    padding: 3em;
}


.bluebox {
    background-color: rgba(0,76,143,0.8);
    padding-top: 4em;
    padding-bottom: 2em;
    color: #f2f2f2;
}



.bluebox article {
    margin: 0em 2em;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.5;
}

.tanbox {
    background-color: #D9BB96;
    color: black;
}

.headders {
    text-align: center;
}

button.bpbt {
    background-color: #004C8F;
    border: 1px solid #f2f2f2;
    padding: 1em;
    margin-top: 2em;
    align-self: center;
}

.bpbt span {
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
    padding: 0.5em 1em;
    
}

.bttn div:hover {
    text-decoration: underline;
    color: #f2f2f2
}
/*** Footer ***/

/* style footer */
footer .container-fluid {
    background-color: #004C8F;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socials svg {
    margin: 2em;
    margin-bottom: 0em;
}

footer small {
    text-align: center;
    color: #f2f2f2;
    margin-bottom: 1em;
}

/**** botstrap sm ****/
@media only screen and (min-width: 576px) {
    
}
/**** bootstrap md ****/
@media only screen and (min-width: 768px){

    /*** General ***/


    /*** Header ***/

    

    .headderbanner {
        background-size: 150%;
    }

    /*** Main ***/

    /*** Footer ***/

    

}

/**** bootstrap lg ****/
@media only screen and (min-width:992px) {

    /*** General ***/

    /*hide stuff from desktop*/
    .desktop-hid {
        display: none;
    }

    /*display stuff that was hidden from mobile*/
    .mobile-hid {
        display: block;
    }
    /*** Header ***/

    .headderbanner {
        padding-top: 2rem;
    }


    /** nav **/
    
    nav ul {
        display: flex;
        background-color: #004C8F;
        margin-top: 2rem;
    }

    nav ul li {
        border: 1px solid #f2f2f2;
        width: 25%;
        text-align: center;   
        padding-top: 1em;
        padding-bottom: 1em;
    }

    nav ul li a {
        color: #f2f2f2;
        font-family: 'Kanit', sans-serif;
        
    }

    nav ul li a:hover {
        color: #f2f2f2;
        text-decoration: underline;
        
    }

    .desktopnav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    /*** Main ***/


    
    /*** Footer ***/
    
}